<div class="panel panel-primary">
    <div class="panel-heading"> API inputs</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label>Start Date</label>
            </div>
            <div class="col-md-6">
                <input class="controls" type="date" name="StartDate" id="dt_api_inputs_startDate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>End Date</label>
            </div>
            <div class="col-md-6">
                <input class="controls" type="date" name="StartDate" id="dt_api_inputs_endtDate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Project</label>
            </div>
            <div class="col-md-6">
                <select class="controls" id="ddl_Project" style="width:102%">
                    <option value="0">--Select--</option>
                    <option value="Project1">Project 1</option>
                    <option value="Project2">Project 2</option>
                    <option value="Project3">Project 3</option>
                    <option value="Project4">Project 4</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Domain</label>
            </div>
            <div class="col-md-6">
                <select class="controls" id="ddl_Domain" style="width:102%">
                    <option value="0">--Select--</option>
                    <option value="Domain1">Domain 1</option>
                    <option value="Domain2">Domain 2</option>
                    <option value="Doamin3">Domain 3</option>
                    <option value="Domain4">Domain 4</option>
                </select>
            </div>
        </div>
    </div>
</div>