
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @using (Html.BeginForm("validateUser", "home", FormMethod.Post))
    {
        <div id="Page_login">
            <div class="panel panel-primary" id="login-widget">
                <div class="panel-heading"> Login</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>User Name</label>
                        </div>
                        <div class="col-md-6">
                            <input class="controls" type="text" name="UserName" id="txt_Login_UserName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Password</label>
                        </div>
                        <div class="col-md-6">
                            <input class="controls" type="password" name="Password" id="txt_Login_Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input id="btn_validate" type="submit" class="btn btn-primary" value="login" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>

