#Page_defectlist
{
    margin-top:50px;
    width: 1200px;
}
.widgets
{
    margin-bottom:20px;
}
#login-widget{
    width:400px;
    margin:auto;
    margin-top:30px;
}
#page_header{
    width:auto;
    margin:0px 12%;
}
.row{
    margin-bottom:10px;
}
.button-panel {
    margin:0 0 2% 0.25%;
}