<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    

    <link rel="stylesheet" href="~/Content/MyStyles.css" />
    <script src="~/scripts/MyScript.js"></script>
</head>
<body>
    <div id="page_header">
        <img src="~/Images/concept_3.jpg" class="" width="100%" height="200px">
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
